<h1>All tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%= task.completed %> <%= link_to task.title, task_path(task) %> <%= task.details %></li>
  <% end %>
</ul>

<%= link_to "+ create a task", new_task_path %>
